<!-- views/index.ejs -->
<%- include('includes/header') %>
<header>
    <h1>Bienvenue chez Pizza Shop</h1>
    <p>Découvrez nos pizzas vedettes !</p>
</header>
<section id="featured-pizzas">
    <% pizzas.forEach(pizza => { %>
        <div class="pizza-item">
            <h2><%= pizza.name %></h2>
            <img src="/images/<%= pizza.image %>" alt="<%= pizza.name %>">
            <p>Prix : <%= pizza.base_price.toFixed(2) %>€</p>
            <button onclick="location.href='/pizza/<%= pizza.id %>'">Choisir</button>
        </div>
    <% }) %>
</section>
<%- include('includes/footer') %>